* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #16425B;
    color: #F2F3F0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2F6690;
    padding-bottom: 1%;
    box-shadow: 0px 0px 20px #0a2230;
}

header h1{
    display: inline;
    padding-left: 2.5%;
    padding-top: .75%;
    font-size: 3em;
    vertical-align: bottom;
    float: left;
}

header h1 a {
    color: #F2F3F0;
    text-decoration: none;
}

header nav ul {
    margin: 0;
    padding: 0;
    padding-top: 1.75%;
}

header nav ul li {
    display: flex;
    float: right;
    padding-right: 2.5%;
    font-size: 1.75em;
}

nav ul li a {
    color: #F2F3F0;
    text-decoration: none;
}

nav ul li a:hover {
    color: #81C3D7;
    border-bottom: 2px solid #81C3D7;
}

footer {
    vertical-align: bottom;
    text-align: center;
    margin-top: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #0D2634;
}

footer h3 {
    text-align: left;
    padding-left: 2.5%;
    color: #F2F3F0;
    font-size: 0.8em;
}

footer h3 a {
    color: #F2F3F0;
    text-decoration: none;
}

footer h3 a:hover{
    text-decoration: underline;
}

.content {
    gap: 20px;
    max-width: 1400px;
    justify-content: center;
    margin: auto;
}

.projects p {
    font-size: 2em;
    max-width: 100%;
}

.projects {
    padding-bottom: 5%;
}

.projects h1{
    margin: auto;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    font-size: 4em;
}

.projects ul {
    margin: auto;
    list-style-type: none;
    max-width: 50%;
    justify-content: center;
}

.projects h2 {
    font-size: 2em;
    padding-bottom: 2%;
}

.projects a {
    color: #F2F3F0;
    text-decoration: none;
}

.projects a:hover{
    text-decoration: underline;
}

.projects p {
    padding-bottom: 2%;
    font-size: 1.5em;
}

@media (max-width: 1300px) {

    .content {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        flex-direction: column; 
        align-items: center;    
        padding-top: 35px;
    }

    .content p {
        max-width: 100%;
    }

}

@media (max-width: 800px) {

    header {
        margin: 0 auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 2%;
    }

    header h1 {
        padding: 0;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        display: flex;
        float: none
    }

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    header nav ul li {
        display: flex;
        flex-direction: row;
        padding: 0;
        padding-left: 5%; 
    }

    header nav ul li:first-child {
        display: flex;
        flex-direction: row;
        padding: 0;
        padding-left: 0;
    }

    .content {
        align-items: center;
        text-align: center;
        font-size: 10px;
        max-width: 100%;
    }

    .projects ul{
        max-width: 80%;
    }

    nav ul li a {
        color: #F2F3F0;
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }
    
}

@media (max-width: 500px) {

    header {
        font-size: 0.5em;
        padding-bottom: 1%;
    }

    header h1 {
        padding-top: 1%;
    }

    .content {
        font-size: 0.8em;
        width: 100%;
    }

}